.calendar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .calendar-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
  }

  .calendar-header {
    display: flex;
  }
  
  .calendar-day-header {
    flex: 1;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  .calendar-body {
    display: flex;
    flex-direction: column;
  }
  
  .calendar-hour-row {
    display: flex;
    position: relative;
  }
  
  .calendar-hour {
    width: 60px;
    text-align: center;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  .calendar-cell {
    flex: 1;
    border: 1px solid #ccc;
    position: relative;
    overflow:hidden;
  }
  
  .calendar-event {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffcc00;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:clip;
    min-height: 100%;
  }